{% extends 'core/base.html' %}

{% load static %}

{% block content %}
      
        <!--Body Content-->
        <div id="page-content">
            <!--MainContent-->
            <div id="MainContent" class="main-content" role="main">
                <!--Breadcrumb-->
                <div class="bredcrumbWrap">
                    <div class="container breadcrumbs">
                        <a href="{% url 'core:home' %}" title="Back to the home page">Home</a><span aria-hidden="true">›</span><span>Detail du produit</span>
                    </div>
                </div>
                <!--End Breadcrumb-->
                
                <div id="ProductSection-product-template" class="product-template__container prstyle2 container">
                    <!--#ProductSection-product-template-->
                    <div class="product-single product-single-1">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="product-details-img product-single__photos bottom">
                                    <div class="zoompro-wrap product-zoom-right pl-20">
                                        <div class="zoompro-span">
                                            <img class="blur-up lazyload zoompro" data-zoom-image="{{ item.image.url }}" alt="" src="{{ item.image.url }}" />               
                                        </div>
                                        <!-- <div class="product-labels"><span class="lbl on-sale">Sale</span><span class="lbl pr-label1">new</span></div> -->
                                        <!-- <div class="product-buttons">
                                            <a href="https://www.youtube.com/watch?v=93A2jOW5Mog" class="btn popup-video" title="View Video"><i class="icon anm anm-play-r" aria-hidden="true"></i></a>
                                            <a href="#" class="btn prlightbox" title="Zoom"><i class="icon anm anm-expand-l-arrows" aria-hidden="true"></i></a>
                                        </div> -->
                                    </div>
                                    <div class="product-thumb product-thumb-1">
                                        <div id="gallery" class="product-dec-slider-1 product-tab-left">
                                            <a data-image="{{ item.image.url }}" data-zoom-image="{{ item.image.url }}" class="slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true" tabindex="-1">
                                                <img class="blur-up lazyload" src="{{ item.image.url }}" alt="" />
                                            </a>
                                    
                                            <a data-image="assets/images/product-detail-page/cape-dress-8.jpg" data-zoom-image="assets/images/product-detail-page/cape-dress-8.jpg" class="slick-slide slick-cloned" data-slick-index="3" aria-hidden="true" tabindex="-1">
                                                <img class="blur-up lazyload" src="assets/images/product-detail-page/cape-dress-8.jpg" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="lightboximages">
                                        <a href="assets/images/product-detail-page/camelia-reversible-big1.jpg" data-size="1462x2048"></a>
                                        <a href="assets/images/product-detail-page/camelia-reversible-big2.jpg" data-size="1462x2048"></a>
                                        <a href="assets/images/product-detail-page/camelia-reversible-big3.jpg" data-size="1462x2048"></a>
                                        <a href="assets/images/product-detail-page/camelia-reversible7-big.jpg" data-size="1462x2048"></a>
                                        <a href="assets/images/product-detail-page/camelia-reversible-big4.jpg" data-size="1462x2048"></a>
                                        <a href="assets/images/product-detail-page/camelia-reversible-big5.jpg" data-size="1462x2048"></a>
                                        <a href="assets/images/product-detail-page/camelia-reversible-big6.jpg" data-size="731x1024"></a>
                                        <a href="assets/images/product-detail-page/camelia-reversible-big7.jpg" data-size="731x1024"></a>
                                        <a href="assets/images/product-detail-page/camelia-reversible-big8.jpg" data-size="731x1024"></a>
                                        <a href="assets/images/product-detail-page/camelia-reversible-big9.jpg" data-size="731x1024"></a>
                                        <a href="assets/images/product-detail-page/camelia-reversible-big10.jpg" data-size="731x1024"></a>
                                    </div>
        
                                </div>
                                <!--Product Feature-->
                                <div class="prFeatures">
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 feature">
                                            <img src="{% static 'core/assets/images/credit-card.png' %}" alt="Safe Payment" title="Safe Payment" />
                                            <div class="details"><h3>Paiement Securisé</h3>Payer avec les moyens de paiement les plus populaires.</div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 feature">
                                            <img src="{% static 'core/assets/images/shield.png' %}" alt="Confidence" title="Confidence" />
                                            <div class="details"><h3>Confidentialité</h3>Protection sur vos données personelles.</div>
                                        </div>
                                        <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-6 feature">
                                            <img src="{% static 'core/assets/images/worldwide.png' %}" alt="Worldwide Delivery" title="Worldwide Delivery" />
                                            <div class="details"><h3>Worldwide Delivery</h3>FREE &amp; fast shipping to over 200+ countries &amp; regions.</div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 feature">
                                            <img src="{% static 'core/assets/images/phone-call.png' %}" alt="Hotline" title="Hotline" />
                                            <div class="details"><h3>Hotline</h3>Talk to help line for your question on 4141 456 789, 4125 666 888</div>
                                        </div> -->
                                    </div>
                                </div>
                                <!--End Product Feature-->
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="product-single__meta">
                                    <h1 class="product-single__title">{{ item.title }}</h1>
                                    <div class="product-nav clearfix">					
                                        <a href="#" class="next" title="Next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="prInfoRow">
                                        <div class="product-stock"> 
                                            {% if item.quantity %}
                                            <span class="instock ">En Stock </span> 
                                            {% else %}
                                            <span class="outstock ">Pas En Stock</span> 
                                            {% endif %}
                                        </div>
                                        
                                        <!-- <div class="product-sku">SKU: <span class="variant-sku">19115-rdxs</span></div> -->
                                        <!-- <div class="product-review"><a class="reviewLink" href="#tab2"><i class="font-13 fa fa-star"></i><i class="font-13 fa fa-star"></i><i class="font-13 fa fa-star"></i><i class="font-13 fa fa-star-o"></i><i class="font-13 fa fa-star-o"></i><span class="spr-badge-caption">6 reviews</span></a></div> -->
                                    </div>
                                    <p class="product-single__price product-single__price-product-template">
                                        <span class="visually-hidden">Regular price</span>
                                        {% if item.discount_price %}
                                        <s id="ComparePrice-product-template"><span class="money">{{item.price}} Fcfa</span></s>
                                        <span class="product-price__price product-price__price-product-template product-price__sale product-price__sale--single">
                                            <span id="ProductPrice-product-template"><span class="money">{{item.discount_price}} Fcfa</span></span>
                                        </span>
                                        <span class="discount-badge"> <span class="devider">|</span>&nbsp;
                                            <span>Vous economisez</span>
                                            <span id="SaveAmount-product-template" class="product-single__save-amount">
                                            <span class="money">{{item.get_save_price}} Fcfa</span>
                                            </span>
                                            <span class="off">(<span>{{item.get_save_price_pourcentage}}</span>%)</span>
                                        </span>  
                                        {% else %}
                                        <span class="product-price__price product-price__price-product-template product-price__sale product-price__sale--single">
                                            <span id="ProductPrice-product-template"><span class="money">{{item.price}} Fcfa</span></span>
                                        </span>

                                      {% endif %}
                           
                                        
                                    </p>
                                <div class="product-single__description rte">
                                    <p>{{ item.description|truncatewords:30 }}</p>
                                </div>
                          
                                    <!-- Product Action -->
                                    <div class="product-action clearfix">
                                        <form action="{% url 'core:add_to_cart' id=item.id %}">
                                        <div class="product-form__item--quantity">
                                            <!-- <div class="wrapQtyBtn">
                                                <div class="qtyField">
                                                    <a class="qtyBtn minus" href="javascript:void(0);"><i class="fa anm anm-minus-r" aria-hidden="true"></i></a>
                                                    <input type="text" id="Quantity" name="quantity" value="1" class="product-form__input qty">
                                                    <a class="qtyBtn plus" href="javascript:void(0);"><i class="fa anm anm-plus-r" aria-hidden="true"></i></a>
                                                </div>
                                            </div> -->
                                        </div>                                
                                        <div class="product-form__item--submit">
                                      
                                            <button  type="submit" name="add" class="btn product-form__cart-submit">
                                                <span>Ajouter au panier</span>
                                            </button>
                                        </div>
                                        </form>
                                    </div>
                                    <!-- End Product Action -->
                                </form>
                                <div class="display-table shareRow">
                                        <!-- <div class="display-table-cell medium-up--one-third">
                                            <div class="wishlist-btn">
                                                <a class="wishlist add-to-wishlist" href="#" title="Add to Wishlist"><i class="icon anm anm-heart-l" aria-hidden="true"></i> <span>Add to Wishlist</span></a>
                                            </div>
                                        </div> -->
                                        <div class="display-table-cell text-right">
                                            <!-- <div class="social-sharing">
                                                <a target="_blank" href="#" class="btn btn--small btn--secondary btn--share share-facebook" title="Share on Facebook">
                                                    <i class="fa fa-facebook-square" aria-hidden="true"></i> <span class="share-title" aria-hidden="true">Share</span>
                                                </a>
                                                <a target="_blank" href="#" class="btn btn--small btn--secondary btn--share share-twitter" title="Tweet on Twitter">
                                                    <i class="fa fa-twitter" aria-hidden="true"></i> <span class="share-title" aria-hidden="true">Tweet</span>
                                                </a>
                                                <a href="#" title="Share on google+" class="btn btn--small btn--secondary btn--share" >
                                                    <i class="fa fa-google-plus" aria-hidden="true"></i> <span class="share-title" aria-hidden="true">Google+</span>
                                                </a>
                                                <a target="_blank" href="#" class="btn btn--small btn--secondary btn--share share-pinterest" title="Pin on Pinterest">
                                                    <i class="fa fa-pinterest" aria-hidden="true"></i> <span class="share-title" aria-hidden="true">Pin it</span>
                                                </a>
                                                <a href="#" class="btn btn--small btn--secondary btn--share share-pinterest" title="Share by Email" target="_blank">
                                                    <i class="fa fa-envelope" aria-hidden="true"></i> <span class="share-title" aria-hidden="true">Email</span>
                                                </a>
                                             </div> -->
                                        </div>
                                    </div> 
                            </div>
                            	<!--Product Tabs-->
                                <div class="tabs-listing">
                                    <div class="tab-container">
                                    	<h3 class="acor-ttl active" rel="tab1">Detail du produit</h3>
                                        <div id="tab1" class="tab-content">
                                            <div class="product-description rte">
                                                <p>{{item.description}}</p>
                                              
                                        
                                            </div>
                                        </div>
                                  
                                    </div>
                                </div>
                                <!--End Product Tabs-->
                        	</div>
                    	</div>
                    <!--End-product-single-->
                    
                    <!--Related Product Slider-->
                 
                    <!--End Related Product Slider-->
                    
                    <!--Recently Product Slider-->
               
                    <!--End Recently Product Slider-->
                    
                    </div>
                	<!--#ProductSection-product-template-->
            	</div>
            <!--MainContent-->
        </div>
    	<!--End Body Content-->
        </div>


{% endblock %}